<a href="https://colab.research.google.com/github/TobiasGustavo/Python/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python**:
- Loops
- Conditionals
- Function
- Data Scructures (pure Python) (https://docs.python.org/3/tutorial/datastructures.html)
- Libraries (numpy, pandas, images)
- Classes

\**Major Source**: https://docs.python.org/3/contents.html

## **Loops**

**Fonte 1**: https://www.w3schools.com/python/python_for_loops.asp

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

:

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

**Fonte 2**: https://www.programiz.com/python-programming/for-loop

In [ ]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [ ]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [ ]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [ ]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

**Fonte 3**: https://www.geeksforgeeks.org/loops-in-python/

In [ ]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:
#Python program to illustrate
# combining else with while
count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")
else:
	print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [ ]:
# Python program to illustrate
# Single statement while block
count = 0
while (count == 0): print("Hello Geek")

In [ ]:
# Python program to illustrate
# Iterating over range 0 to n-1

n = 4
for i in range(0, n):
	print(i)

0
1
2
3

In [ ]:
# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
	print(i)
	
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
	print(i)
	
# Iterating over a String
print("\nString Iteration")
s = "Geeks"
for i in s :
	print(i)
	
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
	print("%s %d" %(i, d[i]))
	
#Iterating over a set
print("\nSet Iteration")
set1 = {1,2,3,4,5,6}
for i in set1:
	print(i),

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz 123
abc 345

Set Iteration
1
2
3
4
5
6

In [ ]:
# Python program to illustrate
# Iterating by index

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
	print(list[index])

geeks
for
geeks

In [ ]:
# Python program to illustrate
# combining else with for

list = ["geeks", "for", "geeks"]
for index in range(len(list)):
	print(list[index])
else:
	print("Inside Else Block")

geeks
for
geeks
Inside Else Block

In [ ]:
# Python program to illustrate
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
	for j in range(i):
		print(i, end=' ')
	print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks':
	if letter == 'e' or letter == 's':
		continue
	print('Current Letter :', letter)
	var = 10

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [ ]:
for letter in 'geeksforgeeks':

	# break the loop as soon it sees 'e'
	# or 's'
	if letter == 'e' or letter == 's':
		break

print('Current Letter :', letter)

Current Letter : e

In [ ]:
# An empty loop
for letter in 'geeksforgeeks':
	pass
print('Last Letter :', letter)

Last Letter : s

In [ ]:
# A simple for loop example

fruits = ["apple", "orange", "kiwi"]

for fruit in fruits:
  print(fruit)

apple
orange
kiwi

In [ ]:
fruits = ["apple", "orange", "kiwi"]

# Creating an iterator object
# from that iterable i.e fruits
iter_obj = iter(fruits)

# Infinite while loop
while True:
  try:
    # getting the next item
    fruit = next(iter_obj)
    print(fruit)
  except StopIteration:

    # if StopIteration is raised,
    # break from loop
    break

apple
orange
kiwi

## **Conditionals**

**Source 1**: https://www.w3schools.com/python/python_conditions.asp

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

 Else

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

If

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 1
Single

For

In [ ]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

## **Function**

Source: https://www.w3schools.com/python/python_functions.asp

http://excript.com/python/funcao-range-python.html

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**Arguments**

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

**Numbers of Arguments**

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

**Default Parameter Value** *texto em itálico*

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

**Let a Function Return Value**

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**Passing a List as an Argument**

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
#function definition
def add(*params):
    sum = 0
    for num in params:
        sum += num
    print(sum)
    
#input list
my_list = [1,2,3]
#function call
add(*my_list)

6

In [ ]:
def calculateTotalSum(*arguments): 
    totalSum = 0
    for number in arguments: 
        totalSum += number 
    print(totalSum) 
  
# function call
calculateTotalSum(5,4,3,2,1)

15

**List Comprehensions **

In [ ]:
quadrados = []
for numero in range(10):
  quadrados.append(numero**2)

  quadrados

**Range**

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
list(range(5, 10))
list(range(0, 10, 3))

TypeError: ignored

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
    fib(2000)

## **Data Structures**

Source: https://python-guide-pt-br.readthedocs.io/pt_BR/latest/intro/learning.html

https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
 fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
 fruits.count('apple')
2
 fruits.count('tangerine')
0
 fruits.index('banana')
3
 fruits.index('banana', 4)  # Find next banana starting a position 4
6

6

In [ ]:
 stack = [3, 4, 5]
 stack.append(6)
 stack.append(7)
 stack
[3, 4, 5, 6, 7]
 stack.pop()
7
 stack
[3, 4, 5, 6]
 stack.pop()
6
 stack.pop()
5
 stack
[3, 4]

[3, 4]

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

**DEL**

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

del a[2:4]
a

del a[:]
a

[]

In [ ]:
del a

## **Libraries**

NUMPY

Source: https://medium.com/ensina-ai/entendendo-a-biblioteca-numpy-4858fde63355

https://numpy.org/

In [ ]:
import numpy

In [ ]:
numpy.ones(5)

array([1., 1., 1., 1., 1.])

In [ ]:
import numpy as np

In [ ]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [ ]:
from numpy import ones

In [ ]:
ones(5)

array([1., 1., 1., 1., 1.])

Instalando libraries

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.1 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

PANDA

Source: https://github.com/TobiasGustavo/pandas

https://pandas.pydata.org/

https://www.w3schools.com/python/pandas/default.asp

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.5

Labels

In [ ]:
print(myvar[0])

1

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(myvar["y"])

7

Objects as Series

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

DataFrames

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

JSON

In [ ]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409.1,
    "1":479.0,
    "2":340.0,
    "3":282.4,
    "4":406.0,
    "5":300.5
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5

Images 

Source: https://pillow.readthedocs.io/en/stable/reference/Image.html

https://www.geeksforgeeks.org/working-images-python/ **

In [ ]:
from PIL import Image

In [ ]:
from PIL import Image
import glob, os

size = 128, 128

for infile in glob.glob("*.jpg"):
    file, ext = os.path.splitext(infile)
    with Image.open(infile) as im:
        im.thumbnail(size)
        im.save(file + ".thumbnail", "JPEG")

##**Classes**

Source: https://www.w3schools.com/python/python_classes.asp

In [ ]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

**Objetcts**

In [ ]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

**Init Function**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

**Create Objects Methods**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**The Self Parameter**

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**Modify Object Properties**

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40